# NOTE: Have a docker.env file in the root directory

# Change to website.settings.test when running pytest through docker setup
DJANGO_SETTINGS_MODULE=website.settings.base

# For local use only with postgres, add these
# Match it with your config.toml postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Should always be docker.config.toml if running through docker
CONFIG_FILE=docker.config.toml

# The machine's os architecture. amd or arm. amd for our servers
ARCHITECTURE=amd