{% extends 'email/base-email.html' %} 

{% block content %}
<div style="font-weight: normal; padding: 16px 24px 16px 24px">
  To initiate the password reset process for your account, click the link below:
</div>

<div style="height: 20px"></div>

<div style="padding: 16px 24px 16px 24px">
  <a
    href="{{ link }}"
    style="
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      background-color: #18becd;
      border-radius: 64px;
      display: inline-block;
      padding: 12px 20px;
      text-decoration: none;
    "
    target="_blank"
  >
    <span>Reset Password</span>
  </a>
</div>
{% endblock content %}
